{%extends 'base.html'%}

{%block content%}
<div class="container-fluid">
    <!--Content-->
    <div class="col-md-12">
      <h3 class="header">Join Nigeria’s first</h3>
      <h2 class="title">Space Xploration bootcamp 1.0</h2>
          <h3>Powered by AIQ.ng</h3>
          <p>Education is fundamental for the future of space exploration 
               in Nigeria . We are proud toannounce that in 2023 we would 
               be hosting Nigeria’s first Space Exploration Bootcamp.The 
                program is  open for  the  emerging professionals in  space
                 technology, Gis/remotesensing, data analysis and software 
                 engineering .60+ intensive days of Space Education with 10+ leading experts from Space and defenceagencies,
                  universities, and Space companies. The curriculum includes extensive 
                  lecturesand workshops   on Space infrastructure technology, Spatio-temporal dataexploitation,machine learning, Space 
                  Science and Exploration, and more.
                  <p class="text-info">Don’t miss a chance of a lifetime!</p>
                  <b>Apply Now (limited spaces available)</b>
                  <h3>Roles</h3>
                  <ol>
                      <li>Gis/Remote sensing professional</li>
                      <li>Software Engineers</li>
                      <li>Data Scientistic</li>
                  </ol>
                  At  the  end  of  this  program,  participants  will  have  been  exposed  to  therudiment of how satellites are built and deployed and how data gotten fromspace 
                  can be leveraged for defense and intelligence purposes among otherbenefits to the nation. 
                  <br/>
                  <b>Kindly note:</b><p>This program is a physical Bootcamp and it will be hosted atAIQ’s  Headquarters  in  Abuja,  Nigeria.  Applicants  from  across  Nigeria  andeven  other 
                       African  countries  are  welcomed  to  apply  but  only  selectedapplicants will participate.</p>
          </p>
          
          <a href="{%url 'register'%}" type="button" class="btn btn-info">Apply now!</a>
    </div>
  </div>
{%endblock%}